{% extends 'base.html' %}
{% block title %}Jirello Sign In{% endblock %}
{% block header %}{% endblock %}
{% block sidebarlink %}{% endblock %}
{% block maincontent%}
<article class="col-sm-8 maincontent">
    <form  method="post" action="/jirello/login/">
        {% csrf_token %}
        {{ auth_form.as_p }}

        <input class="btn btn-action" type="submit" value="Login" />
    </form>
    
    <p>Not  a member? <a href="{% url 'register' %}">Register Here!</a></p>
</article>
{% endblock %}
