{% extends 'base.html' %}
{% block title %}Jirello main page{% endblock %}
{% load staticfiles %}
{% block header %}
    {% if user.is_authenticated %}
        {% if user.picture == '' %}
            <img class="img-circle" alt="" src="/media/no_avatar.jpg/">
        {% else %}
            <img class="img-circle" alt="" src="/media/{{ user.picture }}">
        {% endif %}
    <span class="title">{{ user }}</span>
    <span class="tagline">{{ user.email }}</span>
    {% else %}
    <span class="title">Welcome to Jirello</span>
    <span class="tagline">Created by Arez Khalimi</span>
    {% endif %}
{% endblock %}

{% block maincontent%}

<div class="row section featured topspace">
    <div class="col-lg-10 col-md-offset-1" align="center">
        <img src="{% static 'jirello/images/jirello.png' %}">
        <h3>
        Organize your project managment with Jirello!
        </h3>
    </div>
    <div class="col-lg-10 col-md-offset-1" align="center">
        <img src="{% static 'jirello/images/communication.png' %}">
        <h3>Simple communication with team.</h3>
        <ul style="list-style-type:none" class="lead text-muted" >
            <li> Share you own expriance in Comments</li>
            <li>Report your progress adding Worklogs</li>
        </ul>
    </div>
    <div class="col-lg-10 col-md-offset-1" align="center">
        <img src="{% static 'jirello/images/privacy.png' %}">
        <h3>Privacy.</h3>
        <ul style="list-style-type:none" class="lead text-muted">
            <li>Nobody will be able to see the details of your project except for your team.</li>
        </ul>
    </div>
    <div class="col-lg-10 col-md-offset-1" align="center">
        <img src="{% static 'jirello/images/manage.png' %}">
        <h3>Create and manage projects tasks!</h3>
        <ul style="list-style-type:none" class="lead text-muted">
            <li>Set priorities</li>
            <li>Assign a set of in-line tasks with Sprint</li>
        </ul>
    </div>
    <div class="col-lg-10 col-md-offset-1" align="center">
        <img src="{% static 'jirello/images/chart.png' %}">
        <h3>You lost something?</h3>
        <ul style="list-style-type:none" class="lead text-muted">
            <li>Сonvenient and simple search tasks at your service</li>
            <li>Chart statistics</li>
        </ul>
    </div>
    <div class="col-lg-10 col-md-offset-1" align="center">
        <img src="{% static 'jirello/images/mail.png' %}">
        <h3>Sending results by e-mail</h3>
        <ul style="list-style-type:none" class="lead text-muted">
            <li>Always be informed when work done!</li>
        </ul>     
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}