{% extends 'base.html' %}
{% block title %}Jirello main page{% endblock %}

{% block header %}
    {% if user.is_authenticated %}
        {% if user.picture == '' %}
            <img class="img-circle" alt="" src="/media/no_avatar.jpg/">
        {% else %}
            <img class="img-circle" alt="" src="/media/{{ user.picture }}">
        {% endif %}
    <span class="title">{{ user }}</span>
    <span class="tagline">{{ user.email }}</span>
    {% endif %}
{% endblock %}

{% block sidebarlink %}
<a href="{% url 'projects' %}">My Projects</a>
<br>
    {% if not user.is_authenticated %}
 	<a href="{% url 'register' %}">register</a>
    <a href="{% url 'login' %}">login</a>
    {% elif user.is_authenticated %}
    <a href="{% url 'logout' %}">logout</a>
    {% endif %}
{% endblock %}

{% block maincontent%}

<article class="col-sm-8 maincontent">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente.</p>    
</article>
{% endblock %}

