{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Jirello | New Sprint
{% endblock %}

{% block header %}
    <span class="title">New Sprint</span>
    <span class="tagline">{{ user.email }}</span>
{% endblock %}

{% block maincontent%}

<article class="col-sm-6 col-sm-offset-3">
	<form id="form" method="POST" action="{% url 'new_sprint' project_id %}">
	    {% csrf_token %}
	    {{form.as_p}}
	  	<div class="col-md-8 text-right">
			<input type="submit" value="submit" class="btn btn-action">
		</div>
	    
	</form>
</article>

{% endblock %}

{% block scripts %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'jirello/js/datepicker.js' %}"></script>
{% endblock %}

	