{% extends 'base.html' %}
{% block title %}Jirello | {{ project.title }}{% endblock %}

{% block header %}
    <span class="title">{{ project.title }}</span>
    <span class="tagline">{{ user.email }}</span>
{% endblock %}

{% block menu %}
	<li><a href="{% url 'edit_project' project.id %}">Edit Project</a></li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Create <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="{% url 'new_project' %}">New Project</a></li>
			<li><a href="{% url 'new_sprint' project.id %}">New Sprint</a></li>
			<li><a href="{% url 'new_task' project.id %}">New Task</a></li>
		</ul>
	</li>
{% endblock %}

{% block maincontent%}
<div class="row section featured topspace">
	<article class="col-sm-6 maincontent">
		<h4 class="section-title"><span>
			sprints:
		</span></h4>
	{% if sprints%}
		<ul>
		{% for s in sprints %}
			<li><a class='nav-side' href="{% url 'sprint_detail' projectmodel_id=project.id sprint_id=s.id%}">{{s.title | capfirst}}</a></li>
				{% if s.is_active %}
					Sprint ACTIVE right now!!!<br>
					Current tasks:
						<ol>
						{% for t in s.tasks.all %}
							<a class='task-a' href="{% url 'task_detail' projectmodel_id=project.id task_id=t.id%}"><li>{{t.title | capfirst}}</li></a>			 
						{% endfor %}
						</ol>
				{% endif %}
		{% endfor %}</b>
		</ul>
	{% else %}
	        <div class="row section topspace">
	            <div class="col-md-12">
	                <p class="lead text-center text-muted">No Sprints in this Project.</p>
	            </div>
	        </div>
	{% endif %}
	<br>
	</article>

	<article class="col-sm-6 maincontent">
		<h4 class="section-title"><span>
			tasks:
		</span></h4>
	{% if project.tasks.all %}
		<ul>
		{% for t in project.tasks.all %}
			<li><a class='task-a nav-side' href="{% url 'task_detail' projectmodel_id=project.id task_id=t.id%}">
				{{t.title | capfirst}}
			</a></li>
		{% endfor %}
	{% else %}
	    <div class="row section topspace">
	        <div class="col-md-12">
	            <p class="lead text-center text-muted">No Tasks in this Project.</p>
	        </div>
	    </div>	
	{% endif %}

	</article>
</div>

<div class="row section featured topspace">
	<article class="col-10 maincontent">
		<h3>Workers:</h3>

		{% for u in project.users.all %}
			<a class='cross-a' href='#'>{{u.email}}</a>, 
		{% endfor%}
	</article>
</div>
</div>

{% endblock %}