{% extends 'base.html' %}
{% block title %}Jirello | Your Projects{% endblock %}

{% block header %}
    {% if user.is_authenticated %}
    <span class="title">{{ user }}</span>
    <span class="tagline">{{ user.email }}</span>
    {% endif %}
{% endblock %}

{% block maincontent%}
<div class="row">
<div class="col-lg-4" align="center">
    <a href="{% url 'new_project' %}" class="btn btn-primary btn-lg">Create a new project</a>
</div>
</div>
<div class="row section featured topspace">
    <h2 class="section-title"><span>Your Projects</span></h2>
    <div class="row">
        {% if projects_list%}
        	{% for project in projects_list %}
            <div class="col-sm-6 col-md-3">
                <h3 class="text-center" ><a class='cross-a' href="{% url 'project_detail' projectmodel_id=project.id %}">{{project.title}}</a></h3>
                    <p class='cross'>{{project.description}}</p>
                    <p class="text-center"><a href="{% url 'project_detail' projectmodel_id=project.id %}" class="btn btn-action">Details</a></p>
            </div>
        	{% endfor %}
        {% else %}
            <div class="row section topspace">
                <div class="col-md-12">
                    <p class="lead text-center text-muted">You do not have any projects.</p>
                </div>
            </div>
{% endif %}
    </div>
</div>
{% endblock %}

