{% extends 'base.html' %}
{% block title %}Jirello | {{ project.title }}{% endblock %}

{% block header %}
    <span class="title">{{ project.title }}</span>
    <span class="tagline">{{ user.email }}</span>
{% endblock %}

{% block menu %}
	<li><a href="{% url 'edit_project' project.id %}">Edit Project</a></li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Create <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="{% url 'new_project' %}">New Project</a></li>
			<li><a href="{% url 'new_sprint' project.id %}">New Sprint</a></li>
			<li><a href="{% url 'new_task' project.id %}">New Task</a></li>
		</ul>
	</li>
{% endblock %}

{% block maincontent%}
	<b>Workers: <br></b>

	{% for u in project.users.all %}
		{{u.email}}<br>
	{% endfor%}

	<b>The list of project sprints:<br></b>

	{% for s in sprints %}
		<br><a href="{% url 'sprint_detail' projectmodel_id=project.id sprint_id=s.id%}">{{s.title}}</a>
			{% if s.is_active %}
				Active sprint!!!
				<ul>
				Tasks:
					{% for t in s.tasks.all %}
						<ul>
						<li>{{t.title}}</li>
						</ul>			 
					{% endfor %}
				</ul>
			{% endif %}
	{% endfor %}</b>

<br>
=================================================================================================
<br>LIST OF PROJECT TASK<br>
	{% for t in project.tasks.all %}
		<a href="{% url 'task_detail' projectmodel_id=project.id task_id=t.id%}">
			<br>{{t.title}}
		</a>
	{% endfor %}




{% endblock %}