{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Jirello | Join to jirello!
{% endblock %}

{% block header %}
    <span class="title">Join to Jirello!</span>
{% endblock %}

{% block maincontent%}
<article class="col-sm-6 col-sm-offset-3">
        <form id="register_form" method="POST" action="{% url 'register' %}" enctype='multipart/form-data'>
            {% csrf_token %}
            {{register_form.as_p}}
		  	<div class="col-md-8 text-right">
				<input type="submit" value="submit" class="btn btn-action">
			</div>
        </form>
</article>
{% endblock %}