{% extends 'base.html' %}

{% block title %}Jirello | Search {% endblock %}

{% block header %}
    <span class="title">Search</a></span>
    <span class="tagline">find some project task</span>
{% endblock %}

{% block maincontent %}  
<div class="row section featured topspace">
    <div class="row">
        <div class="col-md-4" align="center">
            <h3>Search</h3>
            <form method="get" action="." >
                <p>{{form.q}}</p>
                 <p><input class="btn btn-primary" type="submit" value="Search"></p>
            </form>
        </div>
        <div class="col-md-8">
            <h3 align="center">Results</h3>
            {% if query %}
                {% for result in object_list %}
                    <ol>
                        <li><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
                        <ul style="list-style-type:none">
                            <li>{{ result.object.description }}</li>
                        </ul></li>
                    </ol>
                {% empty %}
                    <p class="lead text-muted" align="center">No results found.</p>
                {% endfor %}

            {% else %}
                <p class="lead text-muted" align="center">Try find a project tasks</p>
            {% endif %}
        
        </div>
    </div>
</div>
{% endblock %}