<!DOCTYPE html>
<html>
	<body>
	<a href="{% url 'edit_sprint' projectmodel_id=projectmodel_id sprint_id=sprint.id %}">Edit sprint</a><br>
	<h1>ID{{sprint.id}}</h1>
		<br>title  {{sprint.title}}
		<br>date_start = {{sprint.date_start}}
		<br>date_end = {{sprint.date_end}}
		<br>is_active = {{sprint.is_active}}
<br><br>____TASKS____<br>
		{% for t in tasks%}
			<a href="{% url 'task_detail' projectmodel_id=projectmodel_id task_id=t.id%}">
			<h5>{{t.title}}</h5>
			</a>
		{% endfor %}

<br>Sprint owner = {{sprint.owner}}

	</body>
</html>