{% extends 'base.html' %}
{% block title %}Jirello | {{ task.title }}{% endblock %}

{% block header %}
    <span class="title"><a href="{% url 'project_detail' projectmodel_id %}">{{task.project}}</a></span>
    <span class="tagline">Task: {{ task.title }}</span>
{% endblock %}

{% block menu %}
    <li><a href="{% url 'edit_task' projectmodel_id=projectmodel_id task_id=task.id %}">Edit task</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'new_project' %}">New Project</a></li>
            <li><a href="{% url 'new_sprint' projectmodel_id %}">New Sprint</a></li>
            <li><a href="{% url 'new_task' projectmodel_id %}">New Task</a></li>
        </ul>
    </li>
{% endblock %}

{% block maincontent%}
    <article class="post">
		Task: {{task.title}}<br>
		OWNER: {{task.owner}}<br>
    	Kind: {{task.get_kind_display}}<br>
    	Status: {{task.get_status_display}}<br>
                    <!-- Form for change  task status -->
            <form id="status_form" method="POST" action="{% url 'task_detail' projectmodel_id task.id %}">
                {% csrf_token %}
                <input type='hidden' value='{{ task.id }}' name='task_id'>
                <select onchange="form.submit()" name='status'>
                    <option disabled>Change status</option>
                        {% for status in statuses%}
                            {% if status.0 == task.status %}
                                <option value={{status.0}} selected="selected">{{status.1}}</option>
                            {% else %}
                                <option value={{status.0}} >{{status.1}}</option>
                            {% endif %}
                        {% endfor %}
                </select>   
            </form>
    	About: {{task.description}}<br>
    	Original: {{task.original_estimate }}<br>
    	Remaining {{task.remaining_estimate }}<br>
    </article>

    <div class="col-sm-8 col-sm-offset-2">

        <div id="comments"> 
            <h3 class="comments-title">Comments</h3>
                <ol class="comments-list">

    	            {% for comment in comments%}
                    <li class="comment">
                    <div>

                        {% if comment.user.picture == '' %}
                            <img class="avatar" alt="avatar" src="/media/no_avatar.jpg/">
                        {% else %}
                            <img class="avatar" alt="avatar" src="/media/{{ comment.user.picture }}">
                        {% endif %}

                        <div class="comment-meta">
                            <span class="author"><a href="#">{{comment.user}}</a></span>
                            <span class="date"><a href="#">{{comment.date_comment}}</a></span>
                        </div>

                        <div class="comment-body">
    		              {{comment.comment}}
                        </div>
                    </div>
    	           {% endfor %}
                </ol>
    	
        <div id="respond">
            <h3 id="reply-title">Add Comment</h3>

    	<form id="comment_form" method="POST" >
    		{% csrf_token %}
    		{{comment_form.as_p}}<br>
            <div class="col-md-4 text-right">
    		  <input type="submit" value="submit" class="btn btn-action">
            </div>
    	</form>
        </div>
{% endblock %}

