{% extends 'base.html' %}
{% block title %}Jirello | {{ task.title }}{% endblock %}

{% block header %}
    <span class="title"><a href="{% url 'project_detail' projectmodel_id %}">{{task.project}}</a></span>
    <span class="tagline">Task: {{ task.title }}</span>
{% endblock %}

{% block menu %}
    <li><a href="{% url 'edit_task' projectmodel_id=projectmodel_id task_id=task.id %}">Edit task</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'new_project' %}">New Project</a></li>
            <li><a href="{% url 'new_sprint' projectmodel_id %}">New Sprint</a></li>
            <li><a href="{% url 'new_task' projectmodel_id %}">New Task</a></li>
        </ul>
    </li>
{% endblock %}

{% block maincontent%}
    <article class="post">
        <!-- remove control for Comments/Worklogs -->
        <button class="btn btn-choise" id='comment_btn'>Add Comment</button>
        <button class="btn btn-choise" id='worklog_btn'>Add Worklog</button><br>
        <!-- / -->
		OWNER: {{task.owner}}<br>
    	Kind: {{task.get_kind_display}}<br>
    	Status: {{task.get_status_display}}<br>
                    <!-- Form for change  task status -->
            <form id="status_form" method="POST" action="{% url 'task_detail' projectmodel_id task.id %}">
                {% csrf_token %}
                <input type='hidden' value='{{ task.id }}' name='task_id'>
                <select onchange="form.submit()" name='status'>
                    <option disabled>Change status</option>
                        {% for status in statuses%}
                            {% if status.0 == task.status %}
                                <option value={{status.0}} selected="selected">{{status.1}}</option>
                            {% else %}
                                <option value={{status.0}} >{{status.1}}</option>
                            {% endif %}
                        {% endfor %}
                </select>   
            </form>
    	About: {{task.description}}<br>
    	Original: {{task.original_estimate }}<br>
    	Remaining {{task.remaining_estimate }}<br>
    </article>

    <div class="col-sm-8 col-sm-offset-2">
        <div class='form-initial'>
        <div id="respond">
            <h3 id="reply-title">Add Comment</h3>

        <form id="comment_form" method="POST" name='comment'>
            {% csrf_token %}
            {{comment_form.as_p}}<br>
            <div class="col-md-4 text-right">
              <input type="submit" value="submit" class="btn btn-action">
            </div>
        </form>
        </div>
    </div>

    <div class='form-second'>
        <div id="respond">
            <h3 id="reply-title">Add Worklog</h3>

        <form id="worklog_form" method="POST" name='worklog'>
            {% csrf_token %}
            {{worklog_form.as_p}}<br>
            <div class="col-md-4 text-right">
              <input type="submit" value="submit" class="btn btn-action" name='worklog'>
            </div>
        </form>
        </div>
    </div>

        <div id="comments"> 
<!-- Box of comments and worklogs -->
        <!-- For Comments -->
        <div class='form-initial'>
            <h3 class="comments-title">Comments</h3>
            <ol class="comments-list">

	            {% for comment in comments%}
                <li class="comment">
                    <div>

                        {% if comment.user.picture == '' %}
                            <img class="avatar" alt="avatar" src="/media/no_avatar.jpg/">
                        {% else %}
                            <img class="avatar" alt="avatar" src="/media/{{ comment.user.picture }}">
                        {% endif %}

                        <div class="comment-meta">
                            <span class="author"><a href="#">{{comment.user}}</a></span>
                            <span class="date"><a href="#">{{comment.date_comment}}</a></span>
                        </div>

                        <div class="comment-body">
    		              {{comment.comment}}
                        </div>
                    </div>
                </li>
	           {% endfor %}
            </ol>
        </div>
       <!-- For Worklogs -->
        <div class='form-second'>
    	   <h3 class="comments-title">Worklogs</h3>
            <ol class="comments-list">
                {% for worklog in worklogs%}
                <li class="comment">
                    <div>

                        {% if worklog.user.picture == '' %}
                            <img class="avatar" alt="avatar" src="/media/no_avatar.jpg/">
                        {% else %}
                            <img class="avatar" alt="avatar" src="/media/{{ worklog.user.picture }}">
                        {% endif %}

                        <div class="comment-meta">
                            <span class="author"><a href="#">{{worklog.user}}</a></span>
                            <span class="date"><a href="#">{{worklog.date_comment}}</a></span>
                            <span class="author"><a href="#">{{worklog.time_show}}</a></span>
                            </div>

                        <div class="comment-body">
                          {{worklog.comment}}
                        </div>
                    </div>
                </li>
               {% endfor %}
            </ol>
        </div>
{% endblock %}


{% block scripts %}
<!-- Hide forms initially with Javascript (visible for non Javascript users) -->
<script type="text/javascript">
    $("#comment_btn").addClass('active');
    $(".form-second").hide();
</script>

<script type="text/javascript">
$(document).ready(function() {
    // hide the forms when page is ready
    $('#comment_btn').click(function(){ 
        $('#worklog_btn').removeClass('active');
        $(this).addClass('active');
        $('.form-initial').show();
        $('.form-second').hide();
        
    });
    $('#worklog_btn').click(function(){ 
        $('#comment_btn').removeClass('active');
        $(this).addClass('active');
        $('.form-second').show();
        $('.form-initial').hide();

    });
});
</script>
{% endblock %}